.movie-card-default {
  --movie-card-width: 700px;
  display: flex;
  flex-direction: row;
  background-color: rgb(93, 93, 93);
  padding: 1rem;
  width: var(--movie-card-width);
  margin: 8px;
  border-radius: 14px;
}

.movie-card-info-panel {
  min-width: 500px;
  padding-left: 20px;
}

.movie-poster-preview {
  --max-width: var(--movie-card-width);
  max-width: 200px; 
}

/*
.movie-card-under {
  #background-color: gray;
  --movie-card-width: 320px;
  padding: 1rem;
  width: var(--movie-card-width);
  border: 2px solid blue;
  margin: 8px;
}

.movie-card-over {
  #background-color: red;
  --movie-card-width: 320px;
  padding: 1rem;
  width: var(--movie-card-width);
  border: 2px solid green;
  margin: 8px;
}

.movie-card-dragged {
  #background-color: red;
  --movie-card-width: 320px;
  padding: 1rem;
  width: var(--movie-card-width);
  border: 2px solid red;
  margin: 8px;
}

.movie-card-hover {
  #background-color: red;
  --movie-card-width: 320px;
  padding: 1rem;
  width: var(--movie-card-width);
  border: 2px solid purple;
  margin: 8px;
}
*/

.movie-title-text {
  margin-top: 0;
}



.info-small {
  margin: 0;
}
