.list-preview-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.list-preview-userlist-container {
}

.list-preview-user-container {
    display: inline;    
}

.list-preview-title{
   font-size: 24px; 
}

.list-preview-username{
    font-size: 16px;
    color: white;
}