.screen-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.screen-title {
    margin: 0;
}

.screen-subtitle {
    font-size: 24px;
}

.screen-link {
    font-size: 24px;
}

.info-text {
    font-size: 12px;
}

.user-card {

}

.list-user-container{
    display: inline;
}